/* Import Brandon Grotesque - Replace with your font file or CDN */
/* @import url('https://fonts.cdnfonts.com/css/brandon-grotesque'); */

@import url('https://use.typekit.net/abc5aqx.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Colors */
        --3k: #B0DFE0;
        --me: #C8AAD0;
        --7k: #EBBB77;
        --retail: #E29EA0;
        --showroom-display: #F6EE7B;
        --ancillary: #D1E3F5;
        --color-ffffff: #FFFFFF;
        --color-dcddde: #DCDDDE;
        --color-231f20: #231F20;
        --color-eb3b1d: #EB3B1D;
        --color-f2673a: #F2673A;
        --color-f5885f: #F5885F;
        --color-479F35: #479F35;

        /* Font/text values */
        --font-family-brandon-grotesque: "brandon-grotesque", sans-serif;
        --font-family-new-atten: "new-atten", sans-serif;
        --font-style-normal: normal;
        --font-weight-normal: 400;
        --font-weight-medium: 500;
        --font-weight-bold: 700;

        /* Font sizes */
        --font-size-7: 7px;
        --font-size-9: 9px;
        --font-size-8: 8px;
        --font-size-12: 12px;
        --font-size-13: 13px;
        --font-size-14: 14px;
        --font-size-15: 15px;
        --font-size-16: 16px;
        --font-size-18: 18px;
        --font-size-20: 20px;
        --font-size-21: 21px;
        --font-size-22: 22px;
        --font-size-24: 24px;
        --font-size-28: 28px;
        --font-size-32: 32px;
        --font-size-34: 34px;
        --font-size-38: 38px;
        --font-size-37: 37px;
        --font-size-50: 50px;


        /* Character spacing */
        --character-spacing-0: 0px;
        --character-spacing-0-7: 0.7px;
        --character-spacing-0-9: 0.9px;
        --character-spacing-1-2: 1.2px;
        --character-spacing-1-5: 1.5px;
        --character-spacing-1-8: 1.8px;
        --character-spacing-1-68: 1.68px;
        --character-spacing-1-96: 1.96px;
        --character-spacing-2-24: 2.24px;
        --character-spacing-2-38: 2.38px;
        --character-spacing-2-66: 2.66px;
        --character-spacing-3-5: 3.5px;

        /* Line spacing */
        --line-spacing-10: 10px;
        --line-spacing-12: 12px;
        --line-spacing-15: 15px;
        --line-spacing-17: 17px;
        --line-spacing-18: 18px;
        --line-spacing-19: 19px;
        --line-spacing-20: 20px;
        --line-spacing-21: 21px;
        --line-spacing-22: 22px;
        --line-spacing-26: 26px;
        --line-spacing-30: 30px;
        --line-spacing-32: 32px;
        --line-spacing-42: 42px;
        --line-spacing-45: 45px;
        --line-spacing-55: 55px;
        --line-spacing-53: 53px;
    }

    body {
        font-family: var(--font-family-new-atten);
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);
        font-weight: 400;
        color: var(--color-231f20);
        max-width: 100vw;
        height: 100vh;
        @apply antialiased;
    }

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        @apply w-2;
    }

    ::-webkit-scrollbar-track {
        @apply bg-gray-100;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-400 rounded-full;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
    }
}

@layer components {
    /* Character Styles */
    .h1title {
        font-family: var(--font-family-brandon-grotesque);
        font-size: 43px;
        line-height: 55px;
        font-weight: var(--font-weight-medium);
        letter-spacing: 2px;
    }
    .h1title-53 {
        font-family: var(--font-family-brandon-grotesque);
        font-size: 53px;
        line-height: 85px;
        font-weight: var(--font-weight-bold);
        letter-spacing: 3.71px;
    }
    .character-style-1 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-32);
        line-height: var(--line-spacing-45);
        letter-spacing: var(--character-spacing-2-24);
    }
    .text-28-medium {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-28);
        line-height: var(--line-spacing-42);
        letter-spacing: var(--character-spacing-1-96);
    }
    .character-style-3 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-38);
        line-height: var(--line-spacing-55);
        letter-spacing: var(--character-spacing-2-66);
    }
    .character-style-4 {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);
    }
    .character-style-5 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-7);
        line-height: var(--line-spacing-10);
        letter-spacing: var(--character-spacing-0-7);
    }
    .text-18-bold {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);
        letter-spacing: var(--character-spacing-1-8);
        text-transform: uppercase;
    }
    .text-21-bold {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-21);
        line-height: var(--line-spacing-30);
        letter-spacing: var(--character-spacing-1-96);
        text-transform: uppercase;
    }
    .character-style-7 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);
        letter-spacing: var(--character-spacing-1-8);
    }
    .character-style-8 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-18);
        line-height: var(--line-spacing-26);
        letter-spacing: var(--character-spacing-1-8);
    }
    .character-style-9 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-15);
        line-height: var(--line-spacing-22);
        letter-spacing: var(--character-spacing-1-5);
    }
    .title-text-15 {
        font-family: var(--font-family-brandon-grotesque);
        font-size: var(--font-size-15);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-spacing-20);
        letter-spacing: var(--character-spacing-1-5);
    }
    .title-text-55 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-50);
        line-height: var(--line-spacing-55);
        letter-spacing: var(--character-spacing-3-5);
    }
    .title-text-24 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-24);
        line-height: var(--line-spacing-32);
        letter-spacing: var(--character-spacing-1-68);
    }
    .text-13-normal {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-13);
        line-height: var(--line-spacing-18);
    }
    .text-20-normal {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-20);
        line-height: var(--line-spacing-26);
    }
    .text-22-normal {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-22);
        line-height: var(--line-spacing-32);
    }
    .text-artist-8 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-8);
        line-height: var(--line-spacing-12);
        letter-spacing: var(--character-spacing-0-9);
        color: var(--color-ffffff);
        text-transform: uppercase;
        text-shadow: 0px 2px 4px #000000BE;
        position: absolute;
        bottom: 15px;
        right: 30px;
    }
    .text-artist-9 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-9);
        line-height: var(--line-spacing-12);
        letter-spacing: var(--character-spacing-0-9);
        color: var(--color-ffffff);
        text-transform: uppercase;
        text-shadow: 0px 2px 4px #000000BE;
    }
    .text-14-medium {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-14);
        line-height: var(--line-spacing-17);
        color: var(--color-479F35);
    }
    .text-14-normal {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-14);
        line-height: var(--line-spacing-21);
        color: var(--color-231f20);
    }
    .select-title {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-12);
        line-height: var(--line-spacing-18);
        letter-spacing: var(--character-spacing-1-2);
        text-transform: uppercase;
    }
    .h1title-style-1 {
        font-family: var(--font-family-brandon-grotesque);
        font-size: 43px;
        line-height: 55px;
        font-weight: var(--font-weight-medium);
        letter-spacing: 2px;
    }
    .h2-character-style-2 {
        font-family: var(--font-family-brandon-grotesque);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-34);
        line-height: var(--line-spacing-55);
        letter-spacing: var(--character-spacing-2-38);
    }
    .text-15-normal {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-15);
        line-height: var(--line-spacing-19);
        color: var(--color-231f20);
    }
    .h1title-style-2 {
        font-family: var(--font-family-brandon-grotesque);
        font-size: var(--font-size-34);
        line-height: var(--line-spacing-53);
        font-weight: 300;
        letter-spacing: 3.71px;
    }
    .text-12-normal {
        font-family: var(--font-family-new-atten);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-12);
        line-height: var(--line-spacing-18);
    }
}

:focus-visible,
:focus {
    outline: none;
}
.font-brandon-grotesque {
    font-family: var(--font-family-brandon-grotesque);
}
.font-new-atten {
    font-family: var(--font-family-new-atten);
}
.loader-process-360 {
    position: fixed !important;
    width: 100px;
    height: 100px;
    line-height: 100px;
    /* display: none; */
}
.cloudimage-360-loader {
    display: none;
}
.rotate-trigger {
    cursor: pointer;
}
.rotate-wrap .cloudimage-inner-box,
.rotate-wrap .cloudimage-inner-box canvas {
    width: 100% !important;
    height: 100% !important;
}
.rotate-wrap .cloudimage-inner-box canvas {
    position: fixed;
    min-height: 100%;
    object-fit: fill;
}
/* Owl Carousel Navigation */
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 62px;
    height: 57px;
    border-radius: 16px !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.owl-nav .owl-prev {
    left: 30px;
}
.owl-nav .owl-next {
    right: 30px;
}
.owl-dots {
    position: absolute;
    bottom: 55px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.owl-dot span {
    width: 37px !important;
    height: 6px !important;
    background-color: var(--color-dcddde) !important;
    margin: 0 !important;
    border-radius: 3px !important;
}
.owl-dot.active span {
    background-color: var(--color-eb3b1d) !important;
}
.svg-inside svg {
    display: inline-block;
    width: 39px;
    height: 30px;
    position: relative;
    top: -4px;
    margin-right: -2px;
}
.menu-list a {
    @apply px-9;
    @apply py-4;
    @apply text-18-bold;
    @apply border-r border-[#94949d];
}
.menu-list a:hover {
    color: var(--color-eb3b1d);
}
.menu-list a:last-child {
    border-right: none;
}
.tab-menu-list li,
.right-tab-menu li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @apply px-9;
    @apply py-4;
    @apply text-18-bold;
    @apply border-r border-[#94949d];
}
.tab-menu-list li:last-child,
.right-tab-menu li:last-child {
    border-right: none;
}
.tab-menu-list li.active-tab,
.right-tab-menu li.tab-btn-active {
    background-color: var(--color-eb3b1d);
    color: var(--color-ffffff);
    pointer-events: none;
}
.tab-menu-list-vertical li {
    @apply px-9;
    @apply py-4;
    @apply text-18-bold;
    @apply border border-color-dcddde;
    width: 100%;
    border-radius: 30px 0px 30px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.tab-menu-list-vertical li.active-tab {
    background-color: var(--color-f2673a);
    color: var(--color-ffffff);
    pointer-events: none;
}
/* Panzoom Custom Styles */
.panzoom-wrp .panzoom-img {
    /* cursor: auto !important; */
}
.zoom-btns {
    background-color: #969696;
    border-radius: 10px;
}
.zoom-btns span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.zoom-btns span:first-child {
    border-bottom: 2px solid #fff;
}
#map-popup,
#eBrochure-pp {
    display: none;
}
/* Fancybox Custom Styles */
.fancybox__container .f-button[data-fancybox-close],
#close-brochure {
    right: 40px !important;
    bottom: auto !important;
    top: 20px !important;
    height: 64px;
    width: 64px;
    background-color: var(--color-eb3b1d);
    border-radius: 0 !important;
    opacity: 1;
    transition: all 0.75s ease-in-out !important;
    border-radius: 100px !important;
}
.fancybox__container button[data-fancybox-toggle-thumbs],
.fancybox__container button[data-fancybox-toggle-fullscreen],
.fancybox__container button[data-fancybox-toggle-slideshow],
.fancybox__container button[data-panzoom-action] {
    display: none;
}
.fancybox__container .f-button[data-fancybox-close] svg {
    width: 30px;
    height: 30px;
    stroke-width: 3;
    stroke: var(--color-ffffff);
}
.fancybox__container button.f-button.is-next,
.fancybox__container button.f-button.is-prev {
    background: #000000BE !important;
    width: 52px;
    height: 52px;
    color: var(--color-eb3b1d);
    font-size: 22px !important;
    transition: all 0.74s ease-in-out;
    border-radius: 0;
    text-shadow: none;
}
.fancybox__container button.f-button.is-next svg,
.fancybox__container button.f-button.is-prev svg {
    filter: none;
}
.fancybox__container .fancybox__slide {
    padding: 0 !important;
}
.fancybox__content>.f-button.is-close-btn:hover {
    opacity: 1;
}
.fancybox__content>.f-button:hover:not([disabled]) {
    background-color: var(--color-eb3b1d);
}
/*Custom scrollbar for specific elements */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-dcddde);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-eb3b1d);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
sup {
    font-size: 60%;
}
.stack-img {
    margin-top: -35px;
    z-index: 5;
    position: relative;
}
.pulse-path {
    fill: none;
    fill-opacity: 0.8;
    stroke: #fff;
    stroke-width: 4;
    transform-box: fill-box;
    transform-origin: center;
    animation: pulse-path 1.5s infinite ease-out;
}
@keyframes pulse-path {
    0% {
        transform: scale(1);
        opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
        stroke-opacity: 1;
    }
}
.menu-item[data-menu="value"] {
    opacity: 0.4;
    pointer-events: none;
}